
/**
 * @file
 * Contains IE specific CSS hacks.
 *
 * Put all IE CSS hacks in this file. It will be
 * loaded by conditional comment in page.tpl.php
 */

/* Fix IE6 vertical scrollbar in <pre> */
pre {
  overflow-y: hidden;
  padding-bottom: 1em;
  width: 100%;
}

/* Make IE6 <legend> looks like in Firefox */
legend {
  background-color: #fff;
  padding-bottom: 2px;
}

/* Fix IE italic bug */
#main .node .content p {
  overflow: visible;
  zoom: 1;
}

tr.even td,
tr.odd td{
  background-color:#eee;
  border-bottom:1px solid #ccc;
}

tr td.active {
  background-color:#ddd;
}

#main ul.menu li.leaf a {
  vertical-align: 50%;
}